@use "@/scss/breakpoints.scss";

.table {
	border-collapse: collapse;
	position: relative;


}

.tableWrapper {
	overflow-x: auto;
	max-width: 100%;

	width: 100%;
}

.row {
	@media (max-width: breakpoints.$tablet) {
		// display: flex;
		flex-direction: column;
	}
}

.cell {
	padding-block: 16px;
	padding-right: 24px;
	border-bottom: rgba(#777, .5) 1px solid;

	@media (max-width: breakpoints.$tablet) {}

	&:first-child {
		padding-left: 24px;
	}
}

.cellContainer {
	display: flex;
	height: 100%;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 8px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	white-space: nowrap;
}

.description {
	max-width: 50%;

	@media (max-width: breakpoints.$tablet) {
		max-width: 100%;
	}
}

.cellWrap {
	white-space: wrap;
}